@using LanguageLearningSchool.Enums;
@using LanguageLearningSchool.ViewModels;
@model Course

<h5>Are you sure you want to delete this course?</h5>
<br>
<form method="post" asp-action="Delete" enctype="multipart/form-data">
        <input asp-for="CourseId" type="hidden" class="form-control">
        <div class="form-group">
            <label asp-for="CourseName">Course name</label>
            <input asp-for="CourseName" type="text" class="form-control" placeholder="Enter course name">
            <span asp-validation-for="CourseName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" type="text" class="form-control" id="exampleInputDescription"
                placeholder="Enter the description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Language">Language</label>
            <input asp-for="Language" type="text" class="form-control" id="exampleInputDescription"
                placeholder="Enter the language">
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>
         <div class="form-group">
            <label asp-for="DifficultyLevel">Difficulty level</label>
            <input asp-for="DifficultyLevel" type="text" class="form-control" id="exampleInputDescription"
                placeholder="Enter the difficulty level">
            <span asp-validation-for="DifficultyLevel" class="text-danger"></span>
        </div>
        <div class="btn-group">
            <input type="submit" value="Confirm" asp-for="CourseId" class="btn btn-sm btn-outline-secondary" 
                style="background-color: #FE6C6C; margin-top: 15px">
            <a class="btn btn-sm btn-outline-secondary" style="margin-top: 15px" 
                asp-controller="Course" asp-action="Index">Cancel</a>
        </div>
</form>


        @*<button type="submit" class="btn btn-primary" style="margin-top: 15px">Submit changes</button>*@
