@using LanguageLearningSchool.Enums;
@using LanguageLearningSchool.ViewModels;
@*@model UsersAndCourses

<h5>Are you sure you want to delete this user from course?</h5>
<br>
<form method="post" asp-action="RemoveUser" enctype="multipart/form-data">
    <input type="submit" value="Confirm" asp-for="@UsersAndCourses.Courses.CourseId" class="btn btn-primary" style="margin-top: 15px">
</form>*@