@using LanguageLearningSchool.Enums;
@using LanguageLearningSchool.ViewModels;

@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<link rel="stylesheet" href="/css/RegisterPage.css" />
<main>
        <div class="Register-form">
            <div class="Register-container">
                @*<@*div class="row g-5">*@
                <div class="col-md-7 col-lg-8">
                    <form method="post" asp-action="Register" enctype="multipart/form-data" class="form">
                        <div class="row g-3">
                            <div class="group">
                                <div class="col-12">
                                    <label asp-for="Name" class="form-label">First name</label>
                                    <input asp-for="Name" type="text" class="form-control"
                                       required>
                                    <span asp-validation-for="Name" class="highlight"></span>
                                </div>
                            </div>
                            <div class="group">
                                <div class="col-12">
                                <label asp-for="MiddleName" class="form-label">Middle name</label>
                                    <input asp-for="MiddleName" type="text" class="form-control"
                                       required>
                                    <span asp-validation-for="MiddleName" class="highlight"></span>
                                </div>
                            </div>
                            <div class="group">
                                <div class="col-12">
                                    <label asp-for="Surname" class="form-label">Last name</label>
                                    <input asp-for="Surname" type="text" class="form-control"
                                       required>
                                    <span asp-validation-for="Surname" class="highlight"></span>
                                </div>
                            </div>
                            <div class="group">
                                <div class="col-12">
                                    <label asp-for="PhoneNumber" class="form-label">Phone number</label>
                                    <input asp-for="PhoneNumber" type="tel"
                                       class="form-control" required>
                                    <span asp-validation-for="PhoneNumber" class="highlight"></span>
                                </div>
                            </div>
                            <div class="group">
                                <label asp-for="UserRole">Choose your role</label>
                                <select class="form-select" asp-for="UserRole" asp-items="@Html.GetEnumSelectList<Roles>()">
                                    <option>--Select--</option>
                                </select>
                                <span asp-validation-for="UserRole" class="text-danger"></span>
                            </div>
                            <div class="group">
                                <div class="col-12">
                                    <label asp-for="Email" class="form-label">Email</label>
                                    <input asp-for="Email" class="form-control" required>
                                    <span asp-validation-for="Email" class="highlight"></span>
                                </div>
                            </div>
                            <div class="group">
                                <div class="col-12">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <input asp-for="Password" type="password" class="form-control"
                                       required>
                                    <span asp-validation-for="Password" class="highlight"></span>
                                </div>
                            </div>
                            <div class="group">
                                <div class="col-12">
                                    <label asp-for="ConfirmPassword" class="form-label">Password confirm</label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control"
                                       required>
                                    <span asp-validation-for="ConfirmPassword" class="highlight"></span>
                                </div>


                                <button class="btn btn-sm btn-outline-secondary" type="submit" style="margin-top: 10px;">Sign up</button>
                            </div>
                    </form>
                </div>
                @*  </div>*@
            </div>
        </div>
    </main>
