@using LanguageLearningSchool.ViewModels;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Data
@model InquiryViewModel 
@{
    ViewBag.Title = "SQL Query Editor";
}
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<h5>Query</h5> 
<p class="text-muted">
    Enter your query in the provided space and click the "Run" button to execute it.
</p> 
<form method="post" asp-action="RunInquiry" class="container">
  <div class="row">
    <div class="col-md-12">
      <textarea style="margin-bottom: 10px;" name="inquiryText" rows="10" cols="80" class="form-control">@Model.InquiryText</textarea>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-12">
          <input type="submit" value="Run" class="btn btn-sm btn-outline-secondary" style="width: 120px;"/>
          <input type="button" value="Clear" class="btn btn-sm btn-outline-secondary" style="width: 120px;"
          onclick="document.querySelector('textarea[name=inquiryText]').value =''"/>
      </div>
  </div>
  <div style="width: 100%; display: flex; flex-direction: column;">
    <button type="submit" name="SpecificQuery" value="GetTop3Courses" class="btn btn-sm btn-outline-secondary" style="margin-bottom: 10px;">Get Top 3 Courses</button>
    <button type="submit" name="SpecificQuery" value="StudentsRegisteredOnSpecificCourse" class="btn btn-sm btn-outline-secondary" style="margin-bottom: 10px;">Students Registered on Specific Course</button>
    <button type="submit" name="SpecificQuery" value="AverageDaysSpentOnCourse" class="btn btn-sm btn-outline-secondary" style="margin-bottom: 10px;">Average Days Spent on Course</button>
    <button type="submit" name="SpecificQuery" value="AvailableCourse" class="btn btn-sm btn-outline-secondary" style="margin-bottom: 10px;">Available Course</button>
  </div>
</form>
@if (Model.Output != null)
{
    <br>
    <h5>Result</h5>
    <table class="table table-bordered">
        <tr>
            @foreach (DataColumn column in Model.Output.Columns)
            {
                <th scope="col">@column.ColumnName</th>
            }
        </tr>
        @foreach (DataRow row in Model.Output.Rows)
        {
            <tr>
                @foreach (object unit in row.ItemArray)
                {
                    <td scope="row">@unit</td>
                }
            </tr>
        }
    </table>
}
